* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  min-height: 100vh;
}

.agenda-container {
  flex: 1;
  padding: 40px;
  background-color: #fff;
  overflow-y: auto;
  margin-left: 220px; /* espaço para a sidebar fixa */
  margin-top: 60px;   /* espaço para o header fixo */
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#calendar {
  width: 100%;
  max-width: 900px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}