.clientes-table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  height: 200px;
  margin: 0 auto;
}

.clientes-table thead {
  background-color: #1b5fb1;
  color: #fff;
  text-align: left;
}

.clientes-table th, 
.clientes-table td {
  padding: 8px 12px;
  font-size: 14px;
}

.table-wrapper {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.row {
    background-color: #98b4d5;
}

.border {
    border: 1px solid black;
}